@{
    ViewData["Title"] = "Lista de produtos";
}

<div class="text-center">
    <h4>Lista de produtos</h4>

    <div class="row mt-3 mb-4">
        <div class="col-3 text-left">
            <small>
                <strong>
                    <label>Registros por página:</label>
                </strong>
            </small>
            <select class="ml-2" id="quantidade" onchange="Pesquisa()">
                <option value="10">10</option>
                <option value="25" selected>25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="text-left col">
            <a class="btn btn-info" href="@Url.Action("Cadastro", "Produto")">Novo registro</a>
        </div>
        <div class="col-3">
            <input class="form-control" type="text" id="pesquisa" name="pesquisa"
                   placeholder="Pesquise aqui..." onkeyup="Pesquisa()" />
        </div>
    </div>

    <div id="tabela">
        @await Html.PartialAsync("_Tabela")
    </div>
</div>

@await Html.PartialAsync("_Produto")

<div class="modal fade" id="modal-remover" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remover produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <input type="hidden" id="id-produto" />
            <div class="modal-body" id="modal-body-remover">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Voltar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="Remover()">Remover</button>
            </div>
        </div>
    </div>
</div>

<link href="~/css/Produto/imagem.css" rel="stylesheet" />
<script src="~/js/Produto/lista.js"></script>
<script src="~/js/Produto/gerenciar.js"></script>