<div class="modal fade" id="modal-produto" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalhes do produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row text-left justify-content-end">
                    <div class="col-4 div-imagem">
                        <img src="" id="imagem-produto" width="200" height="200" />
                    </div>
                    <div class="col-8">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <strong>Nome</strong>
                                <div id="nome" class="text-capitalize"></div>
                            </li>
                            <li class="list-group-item">
                                <strong>Fabricante</strong>
                                <div id="fabricante" class="text-capitalize"></div>
                            </li>
                            <li class="list-group-item">
                                <strong>Modelo</strong>
                                <div id="modelo" class="text-capitalize"></div>
                            </li>
                            <li class="list-group-item">
                                <strong>Cor</strong>
                                <div id="cor" class="text-capitalize"></div>
                            </li>
                            <li class="list-group-item">
                                <strong>Valor</strong>
                                <div id="valor" class="real"></div>
                            </li>
                            <li class="list-group-item">
                                <strong>Dimensões</strong>
                                <div id="dimensao" class=""></div>
                            </li>
                            <li class="list-group-item">
                                <strong>Descrição</strong>
                                <div id="descricao" class=""></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Voltar</button>
            </div>
        </div>
    </div>
</div>