@{
    ViewData["Title"] = "Erro";
}

<div class="text-left">
    <div class="row mt-3">
        <h1>Erro</h1>
    </div>
    <div class="row">
        <p style="color:#eb8a8a">@ViewBag.Erro</p>
    </div>
</div>