@model List<LojaVirtual.Models.Produto.Produto>

@{
    ViewData["Title"] = "Carrinho de Compras";
}

<div class="text-center">
    <h4>Carrinho de Compras</h4>

    @if (Model != null && Model.Count > 0)
    {
        <div class="row mt-5">
            <div class="col-9">
                <div class="table-responsive mt-4" style="overflow-y: scroll; height: 250px; background-color: #fafafa;">
                    <table class="table table-hover">
                        <thead class="text-muted" style="background-color: #f2f8fb;">
                            <tr class="small text-uppercase">
                                <th scope="col"></th>
                                <th scope="col" width="300">Produto</th>
                                <th scope="col" class="text-center" width="170">Quantidade</th>
                                <th scope="col">Preço</th>
                                <th scope="col" class="text-right"> </th>
                            </tr>
                        </thead>
                        <tbody id="lista">
                            @await Html.PartialAsync("_Carrinho")
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col text-left">
                <h6>Calcular o frete</h6>

                <label>CEP:</label>
                <div class="row">
                    <div class="col-6">
                        <input type="text" class="form-control cep" placeholder="00000-000" style="text-align: center;" />
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-outline-primary" id="btn-frete" onclick="CalcularFrete()">Calcular</button>
                    </div>
                </div>
                <div class="d-none" id="load">
                    <img src="" id="load-gif" height="150" width="150"/>
                </div>
                <div class="d-none" id="div-frete">
                    <div class="row mt-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="frete" id="sedex-input" onchange="SelecionaFrete($('#sedex'))">
                            <label class="form-check-label" for="sedex-input">SEDEX</label>
                            R$ <label class="ml-2" id="sedex">0,00</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="frete" id="pac-input" onchange="SelecionaFrete($('#pac'))">
                            <label class="form-check-label" for="pac-input">PAC</label>
                            R$ <label class="ml-2" id="pac">0,00</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        var subtotal = 0.0;

        foreach (var item in Model)
        {
            subtotal += (item.Valor * ViewBag.Quantidade[item.IdProduto]);
        }

        <div class="row text-left mt-4">
            <div class="col-2">
                <small><strong>Subtotal:</strong></small>
                R$ <label id="subtotal">@subtotal.ToString("C").Replace("R$ ", "")</label>
            </div>
            <div class="col-2">
                <small><strong>Frete:</strong></small>
                R$ <label id="frete">0,00</label>
            </div>
            <div class="col-2">
                <small><strong>Total:</strong></small>
                <strong>R$ <label id="total">@subtotal.ToString("C").Replace("R$ ", "")</label></strong>
            </div>
            <div class="col-3 text-right">
                <a href="#" class="btn btn-primary">Realizar compra</a>
            </div>
        </div>
    }
    else
    {
        <div class="mt-5">
            <p>Você ainda não possui nenhum item no carrinho.</p>
        </div>
    }
</div>

<script src="~/js/Carrinho/acoes.js"></script>