<div class="row justify-content-center mt-3">
    @foreach (var categoria in Model)
    {
        <div class="col-3">
            <div class="card rounded-circle" onclick="ListaCategoria('@categoria.IdCategoria')">
                <div class="card-body">
                    <h6>@categoria.Nome</h6>
                    @{ var imagem = $"/images/categoria/categoria-{categoria.Nome.ToLower()}.png";}
                    <img class="mt-2" src="@imagem" width="150" height="150" />
                </div>
            </div>
        </div>
    }
</div>